<div class="container-fluid">

  <div class="card">
    <!-- Visão Geral Usuários Máquinas -->

    <div class="card-header">
      <span class="visao-geral">Visão Geral - Usuários x Máquinas</span>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-4">
          <p> Usuários On </p>
        </div>

        <div class="col-4">
          <div class="card">
            <div class="card-header--blue">
              Total ON
            </div>
            <div class="card-body">
              <div class="func-Terc">
                <div>
                  <p class="sub-title">Funcionários</p>
                </div>
                153
              </div>
              <div class="func-Terc">
                <div>
                  <p class="sub-title">Terceiros</p>
                </div>
                957
              </div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <div class="card-header--red">
              Total OFF
            </div>
            <div class="card-body">
              <div class="func-Terc">
                <div>
                  <p class="sub-title">Funcionários</p>
                </div>
                235
              </div>
              <div class="func-Terc">
                <div>
                  <p class="sub-title">Terceiros</p>
                </div>
                652
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







  <!-- SEGUNDA LINHA -->

  <div class="card--linha-2">
    <!-- Visão Geral Usuários Máquinas -->

    <div class="card-body">
      <div class="row">

        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <span>Desligados x Equipamentos associados </span>
            </div>
            <span>Informações</span>
          </div>
        </div>

        <div class="col-8">
          <div class="card">

            <div class="card-header">
              <span> Equipamentos sem usuário atrelado que estão sendo logados </span>
            </div>
            <span>Informações</span>
          </div>
        </div>


      </div>
    </div>
  </div>




  <!-- <div class="col-4">
    <div class="card">
      <div class="card-header">
        <span>Desligados x Equipamentos associados </span>
      </div>
      <span>Informações</span>
    </div>
  </div> -->
