<div class="container-fluid">
  <div class="row">

    <div class=" input-group col-6 mt-3">
      <input class="form-control form-control-sm w-50" type="text"
        placeholder="Busque por patrimônio, nome de usuário ou matrícula " />
      <div class="input-group-append">
        <i class="fas fa-search"></i>
      </div>
    </div>



    <div class="col-6 mt-3">
      <div class="bundles-buttons">
        <button type="button" class="btn btn-primary btn-sm format-buttons">
          Exportar CSV </button>
        <button type="button" class="btn btn-primary btn-sm format-buttons">
          Gerenciar Colunas </button>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12 mt-3">

      <div class="card sm">
        <div class="card-header">
          Visão Geral - Usuários Máquinas
        </div>
        <div class="card-body p-0">

          <table class="table table-borderless md-0">
            <thead>
              <tr>
                <th>
                  <select class="custom-select status">
                    <option selected="" value="">Status</option>
                    <option value="{{nome.status}}" *ngFor="let nome of status">
                      {{nome.status}}</option>
                  </select>
                </th>
                <th><select class="custom-select">
                    <option selected="">N de Patrimônio</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th><select class="custom-select">
                    <option selected="">Superintendencia</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th><select class="custom-select">
                    <option selected="">Depto. ID</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th><select class="custom-select">
                    <option selected="">Consultoria</option>
                    <option value="{{consultoria.nome}}"*ngFor="let consultoria of consultorias">{{consultoria.nome}}</option>
                  </select>
                </th>
                <th><select class="custom-select">
                    <option selected="">Site</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th><select class="custom-select">
                    <option selected="">Último Acesso</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>Ver Mais</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users">
                <th scope="row">{{user.status}}</th>
                <td>{{user.nPatrimonio}}</td>
                <td>{{user.superintendencia}}</td>
                <td>{{user.deptoID}}</td>
                <td>{{user.consultoria}}</td>
                <td>{{user.site}}</td>
                <td>{{user.ultimoAcesso}}</td>




              </tr>
            </tbody>
          </table>





        </div>
      </div>
    </div>

  </div>

</div>



<!-- <div class=" input-group col-6 mt-3">
      <input class="form-control form-control-sm w-50 border-right-0 " type="text"
        placeholder="Busque por patrimônio, nome de usuário ou matrícula " />
      <div class="input-group-append">
        <span class="input-group-text border-left-0">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div> -->
