.format-buttons {
  border-radius: 15px;
  background-color: #28a9af;
  border: none;
  margin: 0 15px;
}

.bundles-buttons {
float: right;
}

.card-header {
  padding: 4px;
  background-color: #D9DCE0;
  color:#001d46;
  border-radius: 0px;
  border: none;
  width: 100%;
}

.fa-search {
  color:#001e45;
  position: relative;
  right:22px;
  top:7px;
  z-index: 9999;
}

.input-group-text {
  background-color: white;

}
